
<!-- 
<h1 *ngIf="debeMostrarse">Hola mundo</h1>

<button (click)="toggle()">toggle texto</button> -->

<!-- <p *ngFor="let libro of libros; let i = index">
 {{i+1}} - {{libro}}
</p>

Escribe un libro; <input class="libroUsuario">
<button (click)="addLibro()">añadir libro</button> -->

<!-- <button (click)="eliminarUltimoLibro()">eliminar el ultimo</button>
<button  (click)="revertirlista()">revertir lista</button> -->



<!-- <p [ngStyle]="estilos">Adios mundo</p>

Escribe un color; <input class="userColor" type="color">

<button (click)="replaceColorUser()">cambiar color</button> -->



<!-- 
<button 
    (click)="cambiarClases()" 
    [ngClass]="misClasses"
    >Zas en toda la boca</button> -->
  
<div [ngClass]=newClasses role="alert">A simple secondary alert—check it out!</div>

<button (click)="changeColorOne()">color one</button>
<button (click)="changeColorTwo()">color two</button>
<button (click)="changeColorThree()">color three</button>