


<div class="container">
  <div class="list-group">
    <a href="#" (click)="print('pulpfiction')" class="list-group-item list-group-item-action">Pulp Fiction</a>
    <a href="#" (click)="print('Requiemporunsueño')" class="list-group-item list-group-item-action">Requiem por un sueño</a>
    <a href="#" (click)="print('ciudadDeDios')" class="list-group-item list-group-item-action">Ciudad de dios</a>
    <a href="#" (click)="print('MrNowBody')" class="list-group-item list-group-item-action">Mr. NowBody</a>
    <a href="#" (click)="print('efectoMariposa')" class="list-group-item list-group-item-action">Efecto mariposa</a>

<div>
  <img src="{{image}}">
</div>


  </div>