

{{msg}}


<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Ernesto</h5>
          <p>Contador:{{count["ernesto"]}} </p>
          <button (click)="incrementar('ernesto')" type="button" class="btn btn-outline-success">Incrementar</button>
          <button (click)="decrementar('ernesto') " type="button" class="btn btn-outline-danger">Decrementar</button>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Adolfo</h5>
          <p>Contador:{{count["adolfo"]}} </p>
          <button (click)="incrementar('adolfo')" type="button" class="btn btn-outline-success">Incrementar</button>
          <button (click)="decrementar('adolfo') " type="button" class="btn btn-outline-danger">Decrementar</button>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Leonardo</h5>
          <p>Contador:{{count["leonardo"]}} </p>
          <button (click)="incrementar('leonardo')" type="button" class="btn btn-outline-success">Incrementar</button>
          <button (click)="decrementar('leonardo') " type="button" class="btn btn-outline-danger">Decrementar</button>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Alejandro</h5>
          <p>Contador:{{count["alejandro"]}} </p>
          <button (click)="incrementar('alejandro')" type="button" class="btn btn-outline-success">Incrementar</button>
          <button (click)="decrementar('alejandro') " type="button" class="btn btn-outline-danger">Decrementar</button>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Diego</h5>
          <p>Contador:{{count["diego"]}} </p>
          <button (click)="incrementar('diego')" type="button" class="btn btn-outline-success">Incrementar</button>
          <button (click)="decrementar('diego') " type="button" class="btn btn-outline-danger">Decrementar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Miguel</h5>
          <p>Contador:{{count["miguel"]}} </p>
          <button (click)="incrementar('miguel')" type="button" class="btn btn-outline-success">Incrementar</button>
          <button (click)="decrementar('miguel') " type="button" class="btn btn-outline-danger">Decrementar</button>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Sergio</h5>
          <p>Contador:{{count["sergio"]}} </p>
          <button (click)="incrementar('sergio')" type="button" class="btn btn-outline-success">Incrementar</button>
          <button (click)="decrementar('sergio') " type="button" class="btn btn-outline-danger">Decrementar</button>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Laura</h5>
          <p>Contador:{{count["laura"]}} </p>
          <button (click)="incrementar('laura')" type="button" class="btn btn-outline-success">Incrementar</button>
          <button (click)="decrementar('laura') " type="button" class="btn btn-outline-danger">Decrementar</button>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Alex</h5>
          <p>Contador:{{count["alex"]}} </p>
          <button (click)="incrementar('alex')" type="button" class="btn btn-outline-success">Incrementar</button>
          <button (click)="decrementar('alex') " type="button" class="btn btn-outline-danger">Decrementar</button>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Samuel</h5>
          <p>Contador:{{count["samuel"]}} </p>
          <button (click)="incrementar('samuel')" type="button" class="btn btn-outline-success">Incrementar</button>
          <button (click)="decrementar('samuel') " type="button" class="btn btn-outline-danger">Decrementar</button>
        </div>
      </div>
    </div>
  </div>
  <div><button (click)="resultado()" type="button" class="btn btn-primary btn-lg btn-block">Te winner is....</button></div>
</div>