<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <!-- data binding enlaze directo de datos
   <h1>{{nombre variable}}</h1>-->
  <h1>{{cuenta}}</h1>
  
  <!-- (evento)="funcion()" para crear un evento y llamar a la funcion desde el ts--> 
  <button (click)="incrementar()">incrementar</button>
  <button (click)="decrementar()">decrementar</button>
</body>
</html>